.dashboard {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between components */
  position: relative;
}

/* Styling for the main title */
.dashboard h2 {
  color: #333;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}

/* Styling for the description paragraph */
.dashboard p {
  color: #666;
  margin-bottom: 2px;
  font-size: 16px;
 
}

/* Divider styling */
.dashboard .divider {
  width: 100%;
  height: 2px;
  background-color: #f3e7e7;
  margin: 20px 0;
}
.add-v {
  position: absolute;
  top: 70px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}
/* Container for ClientInformation, VehicleInfo, and QuoteDetails */
.dashboard-sections {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the components */
  width: 100%;
}

/* Ensure responsive layout */
@media (min-width: 768px) {
  .dashboard {
    padding: 40px;
  }

  .dashboard-sections {
    gap: 40px; /* Increase gap for larger screens */
  }
}

/* Components will take full width on mobile */
.dashboard-sections > div {
  width: 100%;
}
